<form action="" class="search">
	<div class="form-group">
		<input type="text class"form="form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username"(keyup)="findProfile()">
	</div>
</form>
<div *ngIf="profile">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{profile.name}} 
			<span *ngIf="profile.company">,Works at {{profile.company}} </span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-3">
					<img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile image" >
				</div>
				<div class="col-md-5" id="list">
					<ul class="list-group">
						<li class="list-group-items" *ngIf="profile.bio">{{profile.bio}}</li>
						<li class="list-group-items" *ngIf="profile.login">Github username: {{profile.login}}</li>
						<li class="list-group-items" *ngIf="profile.location">I reside in: {{profile.location}}</li>
						<li class="list-group-items" *ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></li>
					</ul>
				</div>
				<div class="col-sm-4">
					<div>
						<p>
							<span class="label label-default">{{profile.followers}} Followers</span>
							<span class="label label-default">Following {{profile.following}}</span>
							<span class="label label-default"> {{profile.public_repos}} Repositories</span>
						</p>
						<p><a href="{{profile.html_url}}" class="btn btn-success btn-sm">View profile on github</a></p>
					    <div class="pane panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Repositories</h3>
							</div>
							<div class="panel-body" *ngFor ="let repo of repos">
								<p>
                                  {{repo.name}} <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning ">View this project on github</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>	 
		</div>
	</div>
</div>